{% extends "base.html.twig" %}

{% block title %}
	SnowTricks - Edition de
	{{ trick.name }}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="form-control bg-light my-5 p-5 border border-dark">

			<div class="text-center color-perso2">
				<h3>Editer la figure <strong>{{ trick.name }}</strong></h3>
			</div>

			{{ form_start(formView, {'attr': { 'novalidate': 'novalidate'}}) }}

			<div class="row">
				<div class="col">
					{{ form_row(formView.name) }}
					{{ form_row(formView.content) }}
					{{ form_row(formView.category) }}

					{{ form_row(formView.pictures) }}
					<button id='edit-pictures' data-list-selector='#trick_pictures' 
							class="btn text-white bg-perso2 mb-3">
						<i class="fas fa-plus-square"> Ajouter une image</i>
					</button>

					{{ form_row(formView.videos) }}
					<button id='edit-videos' data-list-selector='#trick_videos' 
							class="btn text-white bg-perso2 mb-3">
						<i class="fas fa-plus-square"> Ajouter une vidéo</i>
					</button>
				</div>
			</div>

			<div class="text-center">
				<button type="button" class="btn text-white bg-perso2 mb-3 mx-5" data-bs-toggle="modal" 
						data-bs-target="#modal-{{ trick.id }}">
					<i class="fas fa-trash-alt"> Supprimer</i>
				</button>

				<button type="submit" class="btn text-white bg-perso2 mb-3 mx-5">
					<i class="fas fa-save"> Sauvegarder</i>
				</button>

				{% include 'trick/delete.html.twig' %}
			</div>

			{{ form_end(formView) }}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script>
		function edit(event, list) {
			event.preventDefault();
			var counter = list.childElementCount;

			var newWidget = list.getAttribute('data-prototype');

			newWidget = newWidget.replace(/__name__label__/g, '');
			newWidget = newWidget.replace(/__name__/g, counter);
			counter++;
			var newElem = document.createElement('div');
			newElem.innerHTML = newWidget;
			var hr = document.createElement('hr');
			list.append(hr);
			list.append(newElem);
		}

		function editPictures(event) {
			var list = document.getElementById("trick_pictures");
			edit(event, list);
		}

		function editVideos(event) {
			var list = document.getElementById("trick_videos");
			edit(event, list);
		}

		function createDeleteButtons(list) {
			var childs = list.childNodes
			for(var i = 0; i < childs.length; i++) { 
				var div = document.createElement('div'); 
				div.innerHTML = '<button class="delete text-white bg-perso2 p-1 mb-1 mx-3"><i class="fas fa-trash-alt"> Supprimer</i></button>'; 
				childs[i].append(div) 
			};
		}

		document.getElementById("edit-pictures").addEventListener("click", editPictures);
		document.getElementById("edit-videos").addEventListener("click", editVideos);

		// Add buttons to the pictures form list (CollectionType)
		var picturesList = document.getElementById('trick_pictures');
		createDeleteButtons(picturesList);

		// Add buttons to the videos form list (CollectionType)
		var picturesList = document.getElementById('trick_videos');
		createDeleteButtons(picturesList);

		// Delete parent fieldset on click
		var buttons = document.getElementsByClassName('delete')
		for(var i = 0; i < buttons.length; i++) { 
			buttons[i].addEventListener('click', function(event){
				event.preventDefault(); 
				var fieldset = this.closest('fieldset'); 
				fieldset.remove();
			});
		}
	</script>
{% endblock %}
