{% for trick in tricks %}
	<div class="card mt-3 mb-3">
		<img src= {% if trick.firstPicture %}
				  	"{{ trick.firstPicture.src }}"
				  {% else %}
					"{{ asset('/img/defaultPicture.jpg') }}"	
				  {% endif %} 
				  class="card-img-top img-fluid" alt="{{ trick.name }}"
				  style="max-width: 250px; max-height: 140px">

		<div class="card-body d-inline text-center">
			<a href="{{ path('trick', {'slug': trick.slug}) }}" class="card-link fw-bold">
				{{ trick.name | upper }}
			</a>

			{% if app.user %}
				<a href="{{ path('trick_edit', {'slug': trick.slug}) }}" class"pencil">
					<i class="fas fa-pencil-alt"></i>
				</a>

				<button type="button" class="trash btn bg-perso-2" data-bs-toggle="modal" 
            			data-bs-target="#modal-{{ trick.id }}">
					<i class="fas fa-trash-alt"></i>
				</button>
			{% endif %}
		</div>
	</div>

	{% if loop.index is divisible by(5) %}
		<div class="break"></div>
	{% endif %}

	{% include 'trick/delete.html.twig' %}
{% endfor %}
